/* Responsive*/

/* Small devices (portrait tablets and large phones, 768px and down) */

@media only screen and (min-width: 768px) {
  div#document_menu_content {
    display: block;
    width: 100%;
    position: unset !important;
    transform: none !important;
  }

  #document_menu_button {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */

