.button_uptop {
  cursor: pointer;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #6d9fe6;
  color: #999;
  border-radius: 3px;
  float: left;
  position: fixed;
  right: 16px;
  bottom: 15px;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

