@CHARSET "ISO-8859-1";
.logo {
	margin: 10px 5%;
	color: #00a1e4;
	width: fit-content;
	width: -moz-fit-content;
}
	
	
/* Responsive*/
@media only screen and (min-width: 428px) {
  
}
@media only screen and (max-width: 428px) {
	
  
}
/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (min-width: 768px) {
	.logo img {
			width: 60px;
			
	}
 
}
@media only screen and (max-width: 768px) {

	.logo img {
		width: 50px;
		
	}
	.span-title-vina{
		font-size: large;
	}
  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.logo img {
		width: 60px;
		
	}
}
@media only screen and (max-width: 992px) {
  
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (max-width: 1200px) {
  
}