
.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
	position: relative; 
	width: 100%;
	background-repeat: no-repeat; 
	background-position: center center; 
	background-size: cover; 
	padding:0px;
  min-height: 250px;
}
 


/*.top-banner {
	height: 200px;		
}*/
	
/* Responsive*/
@media only screen and (min-width: 428px) {
	.banner_title {
		font-size: 1.5rem
	}
	
	.banner_des {
		font-size: 1rem
	}

}
@media only screen and (max-width: 428px) {
	/*.top-banner {
		height: 200px;		
	}*/
	
	.banner_title {
		font-size: 1.5rem
	}
	
	.banner_des {
		font-size: 1rem
	}
  
}
/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (min-width: 768px) {
	.banner_title {
		font-size: 2rem
	}
	
	.banner_des {
		font-size: 1.2rem
	}
	
	.top-banner {
		min-height: 300px;
	}
}
@media only screen and (max-width: 768px) {
	
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.top-banner {
			height: 350px;
			
	}
	
	.banner_title {
		font-size: 2.5rem
	}
	
	.banner_des {
		font-size: 1.5rem
	}
}
@media only screen and (max-width: 992px) {
  
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.top-banner {
			height: 400px;
			
	}
	.banner_title {
		font-size: 2.5rem
	}
	
	.banner_des {
		font-size: 1.5rem
	}
	
	
}
@media only screen and (max-width: 1200px) {
	
}