@media only screen and (min-width: 768px) {
    #saleBanner .carousel-item{
        width: 100%;
        height: 300px;
        font-size: 32px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .product_type_item {
        height: 150px;
        width: 150px;
        img{
            width:80%;
        }
    }

    .user_menu {
        height: 50px;
    }
    .main{
        margin-bottom: 50px;
    }

    .product_list{
        display: flex;
        flex-wrap: wrap;
        .product_item{
            width: 50%;
        }
    }

}
@media only screen and (max-width: 768px) {
    #saleBanner .carousel-item{
        width: 100%;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .carousel-indicators {
        margin-bottom: 0px;
        bottom: 5px;
    }

    .product_type_item {
        height: 100px;
        max-width: 150px;
        min-width: 100px;
        width: 33%;
    }
    .user_menu {
        height: 40px;
    }
    .main{
        margin-bottom: 40px;
    }

    
}

.product_types_frame{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 7px;
}
.product_type_item{
    margin : 0px;
    display: flex;
    flex-direction: column;
    align-items: unset;
    text-align: center;
    padding: 15px;
    .product_type_image{
        flex-grow: 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 7px;
        border-radius: 5px;
    }
    .product_type_title{
        color: gray;
        font-weight: bold;
    }
}

.user_menu{
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    background: #eee;
    display: flex;
    justify-content: space-around;
    .button{
        flex-grow: 1;
        margin: 0px;
        justify-content: center;
        border-left: solid thin #ccc;
        position: relative;
        &.active{
            background: #FF9800;
            color: white;
            font-weight: bold;
        }
        .quantity{
            position: absolute;
            right: 5px;
            top: 5px;
            padding: 0px 3px;
            border-radius: 5px;
            font-size: 10px;
            border: solid thin white;
            color: white;
            text-align: center;
            background: #FF5722;
        }
    }
}

.product_list{

    .product_item {
        padding: 5px;
        color: gray;
        position: relative;
        .product_item_image {
            width: 60px;
            height: 60px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .product_item_name{
            font-size: medium;
            
        }
    }
}

.product_page {
    .product_page_image_active{
        width: 100%;
        text-align: center;
        height: 200px;
        align-items: center;
        padding: 10px;
    }
    .product_page_image_child{
        width: 50px;
        height: 50px;
        margin: 5px;
        padding: 2px;
        margin-bottom: 15px;
    }
    .product_page_image_child.active{
        border: solid thin orange;
    }
    .product_page_image_frame{
        border-radius: 5px;
        border: solid thin darkgray;
    }

    .product_page_image_frame .title{
        padding: 5px 10px;
        background: orange;
        color: white;
    }
    .product_item_name{
        font-size: medium;
        color: orange;
    }
}

.image{
    width: unset !important;
    height: unset !important;
}

