.p-progressbar{
    height : unset
}
.p-progressbar-determinate .p-progressbar-label{
    position: unset;
}
.p-progressbar .p-progressbar-label{
    line-height: unset;
}

.p-progressbar-determinate .p-progressbar-value{
    z-index: -1;
}

.p-datatable-customers.p-datatable .p-column-header-content {
    justify-content: center;
}

.chart_cus .canvasjs-chart-tooltip{
    top : 20px !important;
    left: 10px !important;
    // left: unset !important;
    bottom: unset !important;
    box-shadow: unset !important;

}


