.box-cus{
    padding: 15px;
    min-height: 100px;
    border-radius: 4px;
    margin: 0 !important;
}
.box-1{
    background-color: #007bff;
    border: solid 1px #007bff;
    color: #ffffff;
}
.box-2{
    background-color: #28a745;
    border: solid 1px #28a745;
    color: #ffffff;
}
.box-3{
    background-color: #fd7e14;
    border: solid 1px #fd7e14;
    color: #ffffff;
}
.box-4{
    background-color: #6f42c1;
      border: solid 1px #6f42c1;
        color: #ffffff;
}
.box-cus-title{
    font-weight: bold;
    width: 100%;
    font-size : 16px;

}

.box-cus-title span{
    margin-left: 10px;
    vertical-align: top;
    
}

.overview-box-count {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
    width: 100%;
    display: block;
    padding: 5px 0;
}
.dashboard .p-lg-3{
    padding : 0.5rem !important;
}
.col-cus{
    max-Width : 53.333333%;
    padding-right: 0px !important;
}
.col-cus-padding{
    padding:  15px 0px !important;
}
@media only screen and (max-width: 1000px) {
    .col-cus{
        max-Width : 100%
    }
    .col-cus-padding{
        padding:  15px 15px !important;
    }
   .cushide{
        visibility: hidden;
        display: none;
   }

    .box-cus{
        min-height: 150px !important;
        position: relative;
    }
    .box-cus-title{
        font-size : 35px;
        i {
            position: absolute;
            right: 50px;
            font-size: 40px;
    }

    }
    .overview-box-count {
        font-size: 40px;
    text-align: center;
    margin-top: 25px;
    
    }
}


