[Unit]
Description=Lab center for phoenix system
After=network.target mysql.service

[Service]
ExecStart=/usr/bin/python /var/www/html/coins/python/crypto_services/manage.py lab_client

Restart=always
RestartSec=10s
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
