.box-cus{
    padding: 15px;
    height: 100px;
    border-radius: 4px;
    margin: 0 !important;
}
.box-1{
    background-color: #007bff;
    border: solid 1px #007bff;
    color: #ffffff;
}
.box-2{
    background-color: #28a745;
    border: solid 1px #28a745;
    color: #ffffff;
}
.box-3{
    background-color: #fd7e14;
    border: solid 1px #fd7e14;
    color: #ffffff;
}
.box-4{
    background-color: #6f42c1;
      border: solid 1px #6f42c1;
        color: #ffffff;
}
.box-cus-title{
    font-weight: bold;
    width: 100%;
    font-size : 16px;

}

.box-cus-title span{
    margin-left: 10px;
    vertical-align: top;
    
}

.overview-box-count {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
    width: 100%;
    display: block;
    padding: 5px 0;
    text-align: center;
}



.dashboard .p-lg-3{
    padding : 0.5rem !important;
}
.dashboard .col-lg-3{
    padding : 0.5rem !important;
}
.col-cus{
    max-Width : 53.333333%;
    padding-right: 0px !important;
}
.col-cus-padding{
    padding:  15px 0px !important;
}

.finance_icon{
    -webkit-box-align: center;
    box-align: center;
    align-items: center;
    height: 53px;
    width: 45px;
    min-width: 32px;
    border-radius: 8px;
    margin-right: 8px;
    display: flex;
   
    i{
        height: 16px;
        margin: auto;
    }
   
}

.finance_box{
    display: flex;
    -webkit-box-align: center;
    box-align: center;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    white-space: nowrap;
    
    // flex-grow: 1;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

.finance_box_1{
    display: flex;
    min-width: 64px;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    letter-spacing: .025em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    margin-right: 8px;
    max-width: 120px;
    // flex-grow: 2;
    text-align: center;
}

.finance_box_1_text{
   
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

   
}

.finance_box_2{
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    letter-spacing: .025em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: right;
    // flex-grow: 2;
}

.systemInfo_box1{
   
    border-left-color: #64B5F6 !important;
    border-left: 4px solid;
    color: #64B5F6;

   
}
.systemInfo_box2{
   
    border-left-color: #7986CB !important;
    border-left: 4px solid;
    color: #303F9F;

   
}
.systemInfo_box3{
   
    border-left-color: #4DB6AC !important;
    border-left: 4px solid;
    color: #00796B;

   
}
.systemInfo_box4{
   
    border-left-color: #4DD0E1 !important;
    border-left: 4px solid;
    color: #0097A7;

   
}

.systemInfo_box{
   
  
    .overview-detail {
        text-align: center;
       
        color: black;
    }

   .p-col-6:first-child {
        border-right: 1px solid #dee2e6;
    }

     .overview-number {
        font-size: 1.5rem;
        font-weight: 600;
    }

     .overview-subtext {
        color: #6c757d;
        font-weight: 600;
        margin-top: 0.25rem;
    }
}




@media only screen and (max-width: 767px) {
    // .dashboard {
    //     margin-top: -55px;
    // }
    .col-cus{
        max-Width : 100%
    }
    .col-cus-padding{
        padding:  15px 15px !important;
    }
    .cus-hide{
        display: none;
        visibility: hidden;
    }

    .box-cus{
        height: 170px !important;
        position: relative;
    }
    .box-cus-title{
        font-size : 35px;
        i {
            position: absolute;
            right: 50px;
            font-size: 40px;
    }
    
    }
    .overview-box-count {
        font-size: 40px;
       text-align: center;
       margin-top: 25px;
       
    }

    .overview-number {
        font-size: 35px !important;
       
    }

    .finance_box{
        height: 170px !important;
    }

    .finance_icon{
        height: 97px;
        width: 77px;
    }

    .finance_box_1{
        font-size: 25px !important;
        line-height: 4rem;
    }
  
    .finance_box_2{
        font-size: 22px !important;
        line-height: 4rem;
    }
}


