@import '@root/assets/css/constants.scss';
.img_frame {
	overflow: hidden;
	height: 200px;
	display: flex;
	border-radius: 5px;
	box-shadow: 1px 1px 10px gainsboro;
}


.lab_item:hover{
	transform: scale(1.01, 1.01);
	opacity: 0.7;
}

.entry-title{
	color: $light_color;
}

.entry-content{
	text-align: justify;
}

.entry-meta {
	border: 1px solid #EAEAEA;
    font-size: 14px;
    color: #666666;
    margin: 0 0 20px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.entry-meta i {
	padding-right:5px
}
.entry-meta span {
	margin: auto 5px
}

.read-more {
	margin: 0px 0px 0px auto;
	padding: 5px 10px;
    background-color: #0FBE7C;
    color:white;
}
.entry_div{
	margin-bottom: 50px;
}

.main-art-box {
	width: 100%;
	min-height:300px;
	background: radial-gradient(circle, rgba(255, 255, 255, 0),
		rgba(0, 0, 0, 0.27058823529411763), rgba(0, 0, 0, 0.3803921568627451));
	display: flex;
	margin-bottom: 60px
}


.main-art-text-box {
	margin: auto auto 0px 0px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5843137254901961);
	text-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
	width: 100%;
	text-align: left;
	
}

.block__filter__2col {
		margin: 10px 0px;
	    display: grid;
	    grid-auto-flow: column;
	    grid-gap: 10px;
	}
	
		.block__filter__2col .filter__item {
			margin: auto auto auto 0px;
			display: flex;
			width: fit-content;
		}
		.block__filter__2col .filter__item:last-child {
			margin: auto 0px auto auto;
			display: flex;
			width: fit-content;
		}


/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (min-width: 768px) {}
@media only screen and (max-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.main_art_picture {
	    background-size: 100%;
	    background-repeat: no-repeat;
	    background-position: center;
	    padding: 0px;
	}
}
@media only screen and (max-width: 992px) {
	.main_art_picture {
	    background-size: 100%;
	    background-repeat: no-repeat;
	    background-position: center 10%;
	    padding: 0px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
@media only screen and (max-width: 1200px) {}
